html{
    background:lightgrey;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 40px;
    color:rgb(44, 44, 44);
    border-top: 10px solid black;
    background: rgb(252, 250, 250);
}

@media screen and (max-width: 1200px) {
    .menu { 
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .menu {
        width: 30%;
    }
}

header{
    position: -webkit-sticky;
    position: stick;
    top: 0;
    background: rgb(240, 233, 233);
    padding: 15px;
}

section{
    display: flex;
    margin-top: -20px;
}

article{
    padding: 20px;
    margin: 0px;
}

#nav{
    list-style-type: none;
    border-color: olive;
}

h1{
    font-size: 3em;
    margin: 0;
    text-decoration: underline;
}

h2{
    color: black;
    font-size: 35px;
}

h3{
    color: black;
}

p {
    line-height: 1.5em;
}

li{
    display: inline;
    padding:10px;
}
    

#blog {
    border-top: 1px dotted;
}

.hacker {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.google {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 40px;

     
}

figure{
    border: 1px #cccccc solid;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    float:right;
    margin-left: 15px;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}


.mytable{
    border: 3px solid black;
    margin-left: 20px;
    padding:10px;
}

form{
    border: 3px solid black;
    padding: 10px;
}

#about{
    color: black;
}

#contact{
    color: black;
}

.signup{
    color: red;
    margin: 20px;
    padding: 10px;
}

/* @media (max-width: 800px) {
    #c1 {
        background: red;
    }

}*/ 

@media screen and (max-width: 1200px) {
    .menu { 
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .menu {
        width: 30%;
    }
}